<!DOCTYPE html>
<html>
  <head>
    <title>Quiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="display: inline-block;">
      <%= link_to root_path do %>
        <div class="link">Quiz1</div>
      <% end %>

      <%= link_to rectangles_path do %>
        <div class="link">Quiz2</div>
      <% end %>
    </div>

    <hr>
    
    <%= yield %>
  </body>
</html>
